/* 导入所有组件的样式文件 */
@import './components/Button/style.less';
@import './components/Divider/style.less';
@import './components/Timeline/style.less';
@import './components/Tooltip/style.less';
@import './components/Menu/style.less';
@import './components/Space/style.less';
@import './components/Grid/style.less';
@import './components/Breadcrumb/style.less';
@import './components/Empty/style.less';
@import './components/Tag/style.less';
@import './components/Message/style.less';
@import './components/Alert/style.less';
@import './components/Drawer/style.less';
@import './components/Affix/style.less';
@import './components/Card/style.less';
@import './components/Loading/style.less';
@import './components/BackTop/style.less';
@import './components/Anchor/style.less';
@import './components/Steps/style.less';
@import './components/Modal/style.less';
@import './components/MessageBox/style.less';
@import './components/Notification/style.less';
@import './components/Avatar/style.less';
@import './components/Badge/style.less';
@import './components/Dropdown/style.less';
@import './components/Collapse/style.less';
@import './components/Progress/style.less';
@import './components/PageHeader/style.less';
@import './components/Pagination/style.less';
@import './components/Input/style.less';
@import './components/Select/style.less';
@import './components/Radio/style.less';
@import './components/Checkbox/style.less';
@import './components/InputNumber/style.less';
@import './components/Rate/style.less';
@import './components/Switch/style.less';
@import './components/Slider/style.less';
@import './components/Cascader/style.less';
@import './components/DatePicker/style.less';
@import './components/TimePicker/style.less';
@import './components/ColorPicker/style.less';
@import './components/Transfer/style.less';
@import './components/Upload/style.less';
@import './components/TreeSelect/style.less';
@import './components/Table/style.less';
@import './components/Carousel/style.less';
@import './components/Calendar/style.less';
@import './components/Tree/style.less';
@import './components/Image/style.less';
@import './components/FormDescriptions/style.less';
@import './components/Form/style.less';